mixin launch-stub()
	style
		| *::selection{
		| 	background: #fff;
		| 	color: #f1c40f;
		| }
		| *::-moz-selection{
		| 	background: #fff;
		| 	color: #f1c40f;
		| }
		| html, body{
		| 	width: 100%;
		| 	height: 100%;
		| 	margin: 0;
		| 	padding: 0;
		| 	overflow: hidden;
		| }
		| .stub {
		| 	display: block;
		| 	position: relative;
		| 	width: 100%;
		| 	height: 100%;
		| 	background: #ffa500;
		| 	background: -webkit-linear-gradient(170deg, #f1c40f, #ffa500);
		| 	background: -moz-linear-gradient(170deg, #f1c40f, #ffa500);
		| 	background: -o-linear-gradient(170deg, #f1c40f, #ffa500);
		| 	background: linear-gradient(170deg, #f1c40f, #ffa500);
		| }
		| .stub__text {
		| 	position: absolute;
		| 	display: block;
		| 	width: 90%;
		| 	top: 30%;
		| 	left: 50%;
		| 	margin-left: -45%;
		| 	margin-top: 0;
		| 	text-align: center;
		| 	font-family: Tahoma, Verdana, Arial, sans-serif;
		| 	font-size: 150px;
		| 	line-height: 1;
		| 	color: #fff;
		| 	font-weight: normal;
		| }

	.stub
		h1.stub__text Coming soon...

	script
		| /*!
		| * FitText.js 1.0 jQuery free version
		| *
		| * Copyright 2011, Dave Rupert http://daverupert.com
		| * Released under the WTFPL license
		| * http://sam.zoy.org/wtfpl/
		| * Modified by Slawomir Kolodziej http://slawekk.info
		| *
		| * Date: Tue Aug 09 2011 10:45:54 GMT+0200 (CEST)
		| */
		| (function(){
		| 	var css = function (el, prop) {
		| 		return window.getComputedStyle ? getComputedStyle(el).getPropertyValue(prop) : el.currentStyle[prop];
		| 	};

		| 	var addEvent = function (el, type, fn) {
		| 		if (el.addEventListener)
		| 			el.addEventListener(type, fn, false);
		| 		else
		| 			el.attachEvent('on'+type, fn);
		| 	};

		| 	var extend = function(obj,ext){
		| 		for(key in ext)
		| 			if(ext.hasOwnProperty(key))
		| 				obj[key] = ext[key];
		| 		return obj;
		| 	};

		| 	window.fitText = function (el, kompressor, options) {

		| 		var settings = extend({
		| 			'minFontSize' : -1/0,
		| 			'maxFontSize' : 1/0
		| 		},options);

		| 		var fit = function (el) {
		| 			var compressor = kompressor || 1;

		| 			var resizer = function () {
		| 				el.style.fontSize = Math.max(Math.min(el.clientWidth / (compressor*10), parseFloat(settings.maxFontSize)), parseFloat(settings.minFontSize)) + 'px';
		| 			};

		| 			// Call once to set.
		| 			resizer();

		| 			// Bind events
		| 			// If you have any js library which support Events, replace this part
		| 			// and remove addEvent function (or use original jQuery version)
		| 			addEvent(window, 'resize', resizer);
		| 		};

		| 		if (el.length)
		| 			for(var i=0; i<el.length; i++)
		| 				fit(el[i]);
		| 		else
		| 			fit(el);

		| 		// return set of elements
		| 		return el;
		| 	};
		| })();
		| window.fitText( document.getElementById("fit"), 0.8 );
