mixin body-src()
	<!-- build:js static/js/vendor.min.js -->
	script(src='static/js/vendor.js')
	<!-- /build -->

	<!-- build:js static/js/main.min.js -->
	script(src='static/js/main.js')
	<!-- /build -->
