mixin head-src()
	//- ICONS
	link(rel='shortcut icon', href='favicon.ico')
	link(rel='shortcut icon', href='static/images/favicons/favicon.png', type='image/x-icon')
	link(rel='apple-touch-icon-precomposed', sizes='144x144', href='static/images/favicons/apple-touch-icon-144x144-precomposed.png')
	link(rel='apple-touch-icon-precomposed', sizes='114x114', href='static/images/favicons/apple-touch-icon-114x114-precomposed.png')
	link(rel='apple-touch-icon-precomposed', sizes='72x72', href='static/images/favicons/apple-touch-icon-72x72-precomposed.png')
	link(rel='apple-touch-icon-precomposed', href='static/images/favicons/apple-touch-icon-precomposed.png')


	//- STYLESHEETS
	// Main stylesheet
	<!-- build:css static/css/screen.min.css -->
	link(rel='stylesheet', href='static/css/screen.css')
	<!-- /build -->

	// Custom stylesheet
	<!-- build:css static/css/custom.min.css -->
	link(rel='stylesheet', href='static/css/custom.css')
	<!-- /build -->

	noscript
		// Noscript stylesheet
		<!-- build:css static/css/noscript.min.css -->
		link(rel='stylesheet', href='static/css/noscript.css')


	//- SCRIPTS
	// Head javascript
	<!-- build:js static/js/head.min.js -->
	script(src='static/js/head.js')
	<!-- /build -->
