mixin head-meta()
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	title Synteagle Project Template
	meta(name='description', content='Project template based on Grunt/Gulp task runners')
	meta(name='keywords', content='project boilerplate, front-end template, psd-to-html template, front-end scaffold')

	// Opengraph
	meta(property='og:type', content='website')
	meta(property='og:title', content='Synteagle Project Template')
	meta(property='og:description', content='Project template based on Grunt/Gulp task runners')
	// meta(property='og:image', content='===url===/static/images/card.jpg')
	// meta(property='og:url', content='===url===')

	// TwitterCard
	meta(name='twitter:card', content='summary')
	meta(name='twitter:title', content='Synteagle Project Template')
	meta(name='twitter:description', content='Project template based on Grunt/Gulp task runners')
	// meta(name='twitter:image:src', content='===url===/static/images/card.jpg')
	// meta(name='twitter:creator', content='===twittercard-validation-account===')
	// meta(name='twitter:site', content='===twitter-url===')
	// meta(name='twitter:url', content='===url===')
