mixin ie-fix()
	// IE fix stylesheet
	<!-- build:remove -->
	<!--[if lt IE 9]><link rel="stylesheet" href="static/css/ie.css"><![endif]-->
	<!-- /build -->

	// IE fix stylesheet
	<!--[if lt IE 9]><link rel="stylesheet" href="static/css/ie.min.css"><![endif]-->


	// IE fix javascripts
	// CSS3 media queries and HTML5 tags support for old IE
	<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script><script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script><![endif]-->

	<!-- Or you can use these two scripts from local folder, dont forget for conditional comments for old IE static/js/ie.min.js -->
