extends ../layouts/base

block variables
	- pageTitle = 'Home'
	- pageDescription = 'Page-specific description'
	- pageKeywords = 'Page-specific keywords'


block body-content
	//- Main header
	+header()

	//- Common section
	+section()

	//- Main footer
	+footer()
