extends ../layouts/base

block variables
	- var pageLang = 'en';

block head-content
	// Meta information
	+head-meta()

block body-content
	// Main header
	+header()

	// Common section
	+section()

	// Main footer
	+footer()
