extends ../layouts/base

block variables
	- var pageLang = 'en'
	- pageTitle = 'Synteagle Project Template'
	- pageDescription = 'Project template based on Grunt/Gulp task runners'
	- pageKeywords = 'project boilerplate, front-end template, psd-to-html template, front-end scaffold'


block body-content
	// Main header
	+header()

	// Common section
	+section()

	// Main footer
	+footer()
