extends ../layouts/main

block variables
	- var pageLang = 'en';

block content
	// PARKED PAGE - stub just for project init
	+launch-stub()

	// Main header
	+header()

	// Common section
	+section()

	// Main footer
	+footer()
