extends ../layouts/base

block variables
	- pageTitle = 'Page name'
	- pageDescription = 'Page-specific description'
	- pageKeywords = 'Page-specific keywords'


block body-content
	//- Block name
	+block-name({
		block-name: {
			role: "main",
			class: "js-main"
		}
	})

