- var pageLang = 'en';

//- Here comes the nex mixins:
//- -outdated browser message (depends of page language)
include ../helpers/mixins

doctype html
html(lang='en')
	head
		// Meta information
		include ../components/meta.jade

		// Head external resources
		include ../components/common/head_src.jade

	body
		// PARKED PAGE - stub just for project init
		include ../components/parked/parked.html

		// Header
		include ../components/header.jade

		// 1 section
		include ../components/section1.jade

		// 2 section
		include ../components/section2.jade

		// 3 section
		include ../components/section3.jade

		// 4 section
		include ../components/section4.jade

		// 5 section
		include ../components/section5.jade

		// 6 section
		include ../components/section6.jade

		// 7 section
		include ../components/section7.jade

		// Footer
		include ../components/footer.jade

		// Browser update screen
		+ie-out()

		// Body external resources
		include ../components/common/body_src.jade

		<!-- build:include ../templates/components/common/ga.html -->
		// Here comes google analytics code
		<!-- /build -->