mixin head-src()
	//- ICONS
	link(rel='shortcut icon', href='favicon.ico')
	link(rel='shortcut icon', href='images/icons/favicon.png', type='image/x-icon')
	link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/icons/apple-touch-icon-144x144-precomposed.png')
	link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/icons/apple-touch-icon-114x114-precomposed.png')
	link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/icons/apple-touch-icon-72x72-precomposed.png')
	link(rel='apple-touch-icon-precomposed', href='images/icons/apple-touch-icon-precomposed.png')


	//- STYLESHEETS
	// Main stylesheet
	<!-- build:css css/screen.min.css -->
	link(rel='stylesheet', href='css/screen.css')
	<!-- /build -->

	// IE fix stylesheet
	<!-- build:remove -->
	<!--[if lt IE 9]><link rel="stylesheet" href="css/ie.css"><![endif]-->
	<!-- /build -->

	// IE fix stylesheet
	<!--[if lt IE 9]><link rel="stylesheet" href="css/ie.min.css"><![endif]-->

	// Custom stylesheet
	<!-- build:css css/custom.min.css -->
	link(rel='stylesheet', href='css/custom.css')
	<!-- /build -->

	noscript
		// Noscript stylesheet
		<!-- build:css css/noscript.min.css -->
		link(rel='stylesheet', href='css/noscript.css')


	//- SCRIPTS
	// CSS3 media queries and HTML5 tags support for old IE
	<!--[if lt IE 9]><script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script><script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script><![endif]-->

	<!-- Or you can use these two scripts from local folder, dont forget for conditional comments for old IE js/ie.min.js -->

	// Head javascript
	<!-- build:js js/head.min.js -->
	script(src='js/head.js')
	<!-- /build -->

	// Helper dev js
	// THIS IS DEV HELPER. USE BUILD TASK TO REMOVE IT FOR PRODUCTION.
	//- Page refresh script for live coding, useful if you want to achieve live coding on LAMP/WAMP server
	//- Disabled in favor of BrowserSync.
	//- <!-- build:remove -->
	//- script(src='devtools/live.js')
	//- <!-- /build -->
