%meta{:charset => "utf-8"}
%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
%title ===title===
%meta{:content => "===description===", :name => "description"}
%meta{:content => "===keywords===", :name => "keywords"}
%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
<!--Opengraph-->
%meta{:content => "website", :property => "og:type"}
%meta{:content => "===title===", :property => "og:title"}
%meta{:content => "===description===", :property => "og:description"}
%meta{:content => "/img/card.jpg", :property => "og:image"}
%meta{:content => "===url===", :property => "og:url"}
<!--TwitterCard-->
%meta{:content => "summary", :name => "twitter:card"}
%meta{:content => "===title===", :name => "twitter:title"}
%meta{:content => "===description===", :name => "twitter:description"}
%meta{:content => "/img/card.jpg", :name => "twitter:image:src"}
%meta{:content => "===twittercard-validation-account===", :name => "twitter:creator"}
%meta{:content => "===twitter-url===", :name => "twitter:site"}
%meta{:content => "===url===", :name => "twitter:url"}