doctype html
html.no-js(lang='en')
	head
		// Meta information start
		include components/ukr/meta.jade
		// Meta information end

		// Head external resources start
		include components/head_src.jade
		// Head external resources end
		
	body
		// PARKED PAGE - stub just for project init
		include components/parked/parked.html
		// PARKED PAGE END

		// Browser update screen start here
		include components/ie-out/end.html
		// Browser update screen end

		// Body external resources start
		include components/body_src.jade
		// Body external resources end

		<!-- build:include ../markup/components/ga.html -->
		// Here comes google analytics code
		<!-- /build -->