!!! 5
%html.no-js{:lang => "en"}
	%head
		/ Meta information start
		= File.read "components/meta.html"
		/ Meta information end

		/ Head external resources start		
		= File.read "components/head_src.html"
		/ Head external resources end		
		
	%body   

		/ Browser update screen start here
		= File.read "components/ie-out/eng.html"
		/ Browser update screen end

		/ Body external resources start
		= File.read "components/body_src.html"
		/ Body external resources end

		<!-- build:include ../markup/components/ga.html -->
		/ Here comes google analytics code
		<!-- /build -->