//- General website mixin-blocks
include ../general/head-src
include ../general/meta
include ../general/body-src

//- Helper mixin-blocks
include ../helpers/bemto


//- Website block library
include ../../blocks/header/header
include ../../blocks/section/section
include ../../blocks/footer/footer
include ../../blocks/ie-out/ie-out
include ../../blocks/launch-stub/launch-stub
