//- Include all blocks from one file
//- Because it's impossible to use recursive folder include
include _blocks

//- This block will be filled with required variables
block variables

doctype html
html(lang=pageLang)
	head
		// Meta information
		+head-meta()

		// Head external resources
		+head-src()

	body
		//- Include content from other layouts
		block general-content

		// Browser update screen
		+ie-out({theme: 'light', lang: pageLang, version: 8})

		// Body external resources
		+body-src()

		// GA code
		// Need some solution with posthtml
