//- Here comes the next mixins:
//- outdated browser message (depends of page language)
//- bemto mixin for Jade and BEM magic
include ../helpers/_mixins

//- Common used mixin-blocks
include ../general/_general

//- Common used mixin-blocks
include ../blocks/_blocks

//- This block will be filled with required variables
block variables

doctype html
html(lang=pageLang)
	head
		// Meta information
		+head-meta()

		// Head external resources
		+head-src()

	body
		// Here comes page content
		block content

		// Browser update screen
		+ie-out()

		// Body external resources
		+body-src()

		// GA code
		// Need some solution with posthtml
